ul
{
  text-decoration: none;
  list-style: none;
}
#list-item:nth-child(even)
{
  margin-top:2rem;
  margin-bottom:2rem;
}
.temp
{
  display: flex;
padding-left:7rem;
}
.box
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.man
{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  row-gap:1.2rem;
}
.bar
{
  row-gap:6rem;
}
.size
{

   display:flex;
   flex-flow:column;
  height:50rem;
}
.report-body
{
  display: flex;
  flex-wrap: wrap;
 
}